page-home {
  ion-label {
    white-space: normal;
    overflow: visible;
  }

  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: 25vw;
    height: 17vw;
  }

  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 25vw;
    height: 17vw;
  }

  .item-md ion-thumbnail {
    min-width: 25vw;
    min-height: 18vw;
  }

  .item-ios ion-thumbnail {
    min-width: 25vw;
    min-height: 18vw;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .item-ios.activated, .item-md.activated {
    background-color: #d9d9d9;
    transition-duration: 0ms;
  }

  ion-spinner {
    stroke: #283453 !important;
  }

  .refresher-pulling-text, .refresher-refreshing-text {
    color: #283453;
    font-weight: bolder;
  }

  .news-section {
    font-size: 3vw;
    font-weight: bolder;
    color: #c0c4c6;
  }

  .news-title {
    font-size: 4vw;
    font-weight: bolder;
    color: #283453;
  }

}
